html {
     position:relative;
     min-height:100%;
}
 @media screen and (max-width: 990px) {
     .reg{
         margin-top: 5%;
         border: 2px solid black;
         text-align: center;
         margin-bottom: 30px;
    }
     .reg input{
         display: block;
         margin-left: auto;
         margin-right: auto;
    }
     .main_menu_hide{
         display: none;
    }
     .main_menu_not_hide{
    }
     .menu_btn{
         width: 100%;
         border: 0;
         outline: none;
         color:white;
         font: 14pt impact;
         background: purple;
    }
     .tablitsa{
         margin: auto;
    }
     .tablitsa img{
         width:150px;
    }
     .main-menu{
         text-align: center;
         background-color: purple;
    }
     .main-menu a{
         display: block;
         text-decoration: none;
         color:white;
         font: 14pt impact;
         margin: 5px;
    }
     footer {
         position: absolute;
         border-top: 2px solid black;
         left: 0;
         bottom: 0;
         width: 100%;
    }
     .skazka{
         text-align: center;
         margin:3%;
         padding-left: 15%;
         padding-right: 15%;
         margin-bottom: 25px;
         border-left: 2px solid black;
         border-right: 2px solid black;
         font: 14pt ;
    }
     .soderzh{
         text-align: center;
         margin-top:25px;
         font-weight:bold;
         font-size:14pt;
    }
     .soderzh a{
         color:forestgreen;
         text-align: center;
         margin-top: 15px;
         margin-left:45%;
         margin-right:45%;
         display: block;
         text-decoration: none;
    }
}
 @media (min-width: 992px) {
     .reg{
         margin-top: 5%;
         border: 2px solid black;
         text-align: center 
    }
     .reg input{
         display: block;
         margin-left: auto;
         margin-right: auto;
    }
     .menu_btn{
         display: none;
    }
     .tablitsa{
         margin-top:25px;
    }
     .soderzh{
         text-align: center;
         margin-top:25px;
         font-weight:bold;
         font-size:14pt;
    }
     .soderzh a{
         color:forestgreen;
         text-align: center;
         margin-top: 15px;
         margin-left:45%;
         margin-right:45%;
         display: block;
         text-decoration: none;
    }
     .main-menu{
         list-style: none;
         text-align: center;
         background-color: purple;
    }
     .main-menu a{
         text-decoration: none;
         color:white;
         font: 14pt impact;
    }
     .main-menu a{
         display: inline;
         margin: 10%;
    }
     footer {
         position: absolute;
         border-top: 2px solid black;
         left: 0;
         bottom: 0;
         width: 100%;
    }
     .skazka{
         text-align: center;
         margin:3%;
         padding-left: 15%;
         padding-right: 15%;
         margin-bottom: 25px;
         border-left: 2px solid black;
         border-right: 2px solid black;
    }
}